Header set Expires "Wed, 29 Nov 1989 03:00:00 GM"
Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
Header set Pragma "no-cache"

Options -Indexes
ServerSignature Off

RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# php_value post_max_size 1000M
# php_value max_file_uploads 1000
# php_value max_execution_time 0
# php_value memory_limit 512M
# php_value max_input_time -1