.btn {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
	border: 0px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.btn-client {
	color: white;
	background-color: $primary-color;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($primary-color, 10%);
	}
}


.btn-add {
	color: white;
	background-color: $secondary-color;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($secondary-color, 10%);
	}
}
.btn-view {
	color: white;
	background-color: $color-view;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($color-view, 10%);
	}
}
.btn-save {
	color: white;
	background-color: $color-save;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($color-save, 10%);
	}
}
.btn-edit {
	color: white;
	background-color: $color-edit;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($color-edit, 10%);
	}
}
.btn-delete {
	color: white;
	background-color: $color-delete;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus, &:active {
		color: white;
		background-color: darken($color-delete, 10%);
	}
}




.btn-file {
	position: relative;
	overflow: hidden;
	color: white;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	border-radius: 0px;
	margin: 0;
	padding-top: 4px;
	padding-bottom: 5px;
}
.btn-file:hover {
	color: white;
	background-color: darken($primary-color,10%);
	border: 1px solid $primary-color;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}