.table-client-responsive{
	display: block;
    width: 100%;
    overflow-x: auto;
}

.table-client-default{
	width: 100%;
	thead{
		color: $primary-color;
		font-weight: 700;
		th{
			font-size: 14px;
			font-weight: 700;
			padding-left: 5px;
			padding-right: 15px;
			padding-top: 5px;
			border-bottom: 1px solid $text-color;
		}
		th:last-child{
			padding-right: 5px;
			padding-top: 0px;
		}
	}
	tr{
		border: none;
		border-bottom: 1px solid $table-striped-color;
		td {
			padding-left: 5px;
			padding-right: 15px;
		}
		td.table-double-row{
			padding-top: 5px;
			padding-right: 5px;
			line-height: 1em;
		}
		td:last-child{
			padding-right: 5px;
		}
		.table-image-td{
			padding-top: 2px;
			padding-bottom: 2px;
			.table-image-div{
				height: 45px;
				.overview-image-table{
					width: 80px;
					height: 45px;
					object-fit: cover;
				}
			}
		}
	}
	tr.clickable-row{
		cursor: pointer;
	}
}

table.striped-client {
	> tbody {
		> tr:nth-child(even) {
			background-color: $table-striped-color;
		}

		> tr > td {
			padding: 7px 5px 6px 5px;
			border-radius: 0;
			min-height: 25px !important;
		}
	}
}

table.table-form-radios{
	th.stelling{
		min-width: 250px;
	}
	th.score{
		min-width: 80px;
		font-size: 12px;
		padding: 0px;
	}
}




// // TABLES
// .table-client-responsive{
// 	display: block;
// 	width: 100%;
// 	overflow-x: auto;
// }
// td.right{
// 	padding-top: 5px;
// 	padding-bottom: 5px;
// }
// .right-align-table{
// 	@media(min-width: 1200px){
// 		float: right;
// 		display: inline-block;
// 	}
// }

// .table-client-responsive{
// 	td.table-double-row{
// 		padding-top: 5px;
// 		padding-bottom: 5px;
// 	}
// }


// .table-vragenlijst {
// 	table{
// 		tbody{
// 			tr{
// 				td{
// 					padding-top: 5px !important;
// 					padding-bottom: 5px !important;
// 					padding-left: 5px !important;
// 					padding-right: 5px !important;
// 					input[type=text]:not(.browser-default){
// 						background-color: white;
// 						border: 1px solid $client-light-gray-color;
// 						border-bottom: 1px solid $client-light-gray-color;
// 						border-radius: 5px;
// 						margin-bottom: 0px;
// 						padding-left: 15px;
// 						padding-right: 15px;
// 						width: calc(100% - 30px);
// 					}
// 				}
// 			}
// 			tr:nth-child(odd) {
// 				background-color: #f6f6f6;
// 			}
// 		}
// 	}
// }