// HEADERS

.single-header {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    border-radius: 0;
    min-height: 700px;

    @media (max-width: 768px) {
        min-height: 420px;
    }

    .single-header__content {
        inset: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        h1 {
            position: static;
            text-align: center;
            color: white;
            text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
            margin: 0;
            padding-top: 0;
            padding-inline: 12px;
        }
    }
}

.single-header--de-stichting {
    background-image: url('../img/headers/de-stichting-header.webp');
    background-position: center top;

    @media (max-width: 768px) {
        background-image: url('../img/headers/mobile/de-stichting-header.webp');
    }
}
.single-header--contact {
    background-image: url('../img/headers/contact-header.webp');
    background-position: center top;

    @media (max-width: 768px) {
        background-image: url('../img/headers/mobile/contact-header.webp');
    }
}
.single-header--schilderijen {
    background-image: url('../img/headers/schilderijen-header.webp');
    background-position: center center;

    @media (max-width: 768px) {
        background-image: url('../img/headers/mobile/schilderijen-header.webp');
    }
}
.single-header--zeefdrukken {
    background-image: url('../img/headers/zeefdrukken-header.webp');
    background-position: center center;

    @media (max-width: 768px) {
        background-image: url('../img/headers/mobile/zeefdrukken-header.webp');
    }
}